/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset some basic elements */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
    --primary-color: #008000;     
    --secondary-color: #AED581;    
    --accent-color: #D7FFAB;     
    --text-color: #FFFFFF;  
    --page-text-color: #000000;     
    --background-color: #FFFFFF;   
    --secondary-text-color: #9E9E9E;
    --light-grey: #E5E5E5;  
    --dark-grey: #B3B3B3;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Set up typography defaults */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background-color);
    color: var(--page-text-color);
}
  
/* Other global styles */
a {
    color: inherit;
    text-decoration: none;
}

/* Navbar styles */
.navbar {
    position: fixed; /* Fixed position to keep the navbar at the top */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    z-index: 1000; /* Ensure it's above other content */
    background-color: var(--primary-color); /* Set your primary color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0rem;
    width: 100%;
}
  
/* Navbar link styles */
.nav-link, .sign-in-button {
    padding: 0.5rem 1rem;
    margin: 0;
    color: var(--text-color); /* Change the text color to white */
    font-weight: bold; /* Make the font weight bold */
    text-align: center;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    height: 100%;
    transition: background-color 0.3s; /* Optional: Adds a transition for hover effect */
}

.nav-link:hover, .sign-in-button:hover {
    background-color: var(--secondary-color); /* This will be the hover background color */
}

/* Ranking menu styles */
.custom-button {
  padding: 0.5rem 1rem;
  margin: 0% 30%;
  color: var(--page-text-color);
  font-weight: bold;
  text-align: center;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Ensure full width */
  transition: background-color 0.3s, border-color 0.3s;
}

.custom-button:hover {
  background-color: var(--secondary-color); /* Light green on hover */
  border-color: var(--primary-color); /* Dark green border on hover */
}

.custom-button.selected {
  background-color: var(--primary-color); /* Dark green for selected */
  border-color: var(--primary-color); /* Dark green border on hover */
  color: var(--text-color);
}

.table-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Ranking table styles */
.ranking-table {
  border-collapse: collapse;
  width: 80%;
  margin: 0% 5%;
}

.ranking-table th,
.ranking-table td {
  border: 1px solid black;
  text-align: center;
}

/* Apply alternating row colors */
.ranking-table tbody tr:nth-child(even) {
  background-color: var(--light-grey);
}

.ranking-table tbody tr:nth-child(odd) {
  background-color: #FFFFFF; /* White for odd rows */
}

.ranking-table th {
  background-color: var(--light-grey); /* Keep the header with a different color if needed */
}

.tier-row td {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  font-weight: bold;
}


@media (max-width: 768px) {
  .rankings-container {
    flex-direction: column;
  }
  /* When on mobile, buttons next to each other */
  .rankings-panel {
    flex-direction: row;
    justify-content: center; /* Center buttons horizontally */
    padding-top: 10px; /* Space between the panel and the title on mobile */
    margin: 0% 5%;
  }

  .custom-button {
    padding: 0rem 0rem; /* Reduce padding to make buttons smaller */
    margin: 0%;
    flex-grow: 1; /* Allow buttons to grow and fill the available space if necessary */
    flex-basis: calc(20% - 5px); /* Example calculation for five buttons in a row minus margin */
  }
}

